body {
	background-color: lime;
}

@media (max-width: 320px) {
  html { background: red; }
}
/*this is the media querie for the IPhone*/

@media (max-width: 1024px) {
  html { background: blue; }
}
/*this is the media querie for the ipad*/
